// Background Color

.t-bg-primary {
    background: $primary;
}
.t-bg-secondary {
    background: $secondary;
}
.t-bg-light {
    background: $white !important;
}
.t-bg-default {
    background: $bg;
}
.t-bg-footerOne {
    background: $black;
}
.t-bg-footerTwo {
    background: $footer-bg;
}